* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.chat-bubble {
  position: relative;
}

.chat-bubble-in::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: -7px;
  border-width: 0 8px 8px 0;
  border-style: solid;
  border-color: transparent #f4f4f4 transparent transparent;
}

.chat-bubble-out::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: -7px;
  border-width: 0 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent transparent #fdeade;
}
